BODY {
width:790px; 
height: 200px; 
background-color: black;
}
form {
position: absolute;
left: 10px;
top: 10px;
}
button {
color: white;
font-size:20px;
position: absolute;
left: 190px;
bottom: 2px;
width: 127px;
height: 71px;
background-color:
background: #ff1a00; /* Old browsers */
background: -moz-linear-gradient(top, #ff1a00 0%, #ff1a00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff1a00), color-stop(100%,#ff1a00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ff1a00 0%,#ff1a00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ff1a00 0%,#ff1a00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ff1a00 0%,#ff1a00 100%); /* IE10+ */
background: linear-gradient(to bottom, #ff1a00 0%,#ff1a00 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1a00', endColorstr='#ff1a00',GradientType=0 ); /* IE6-9 */
}

.dlCard {
position: absolute;
left: 190px;
bottom: 88px;
}
#dealercard {
position: absolute;
left: 192px;
bottom: 105px;
font-size:20px;
color: gold; 
}
#Player1st{
font-size:20px;
color: gold; 
}
#Player2nd {
font-size:20px;
color: gold; 
}
#dothis {
position: absolute;
left: 390px;
bottom: 80px;
border-style: solid;
border-width: 2px;
font-size: 45px;
border-color: red;
color: white;
padding: 9px 9px 9px 9px;
}

