.cardA { background-image:  url(../images/cards/AC.svg); }
.card2 { background-image:  url(../images/cards/2C.svg); }
.card3 { background-image:  url(../images/cards/3C.svg); }
.card4 { background-image:  url(../images/cards/4C.svg); }
.card5 { background-image:  url(../images/cards/5C.svg); }
.card6 { background-image:  url(../images/cards/6C.svg); }
.card7 { background-image:  url(../images/cards/7C.svg); }
.card8 { background-image:  url(../images/cards/8C.svg); }
.card9 { background-image:  url(../images/cards/9C.svg); }
.cardJ { background-image:  url(../images/cards/JC.svg); }
.cardQ { background-image:  url(../images/cards/QC.svg); }
.cardK { background-image:  url(../images/cards/KC.svg); }
.card10 { background-image: url(../images/cards/10C.svg); }
