#bjcalc {
  position: fixed;
  top: 0;
  right: 0;
  border: none;
  z-index: 999999999999999999;
  bottom: 0;
  height: 100%;
  width: 320px;
  background: rgba(0,0,0,.9);
  overflow: hidden;
  transform: translateX(320px) scale3D(1,1,1);
  transition: transform .5s cubic-bezier(.55,.08,.3,.92);
}
.bjcalc #bjcalc {
  transform: translateX(0);
}

